@charset "UTF-8";
/* Tipical Device Breakpoints
------------------------------
Pequenas telas: ate 600px
celular: de 600px ate 768px
tablet: 768px ate 992px
Descktop: 992px ate 1200px
Grandes telas: acima de 1200px
